# ejercicio 1

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

allstate = pd.read_csv('allstate.csv')

min=allstate["cost"].min()
max=allstate["cost"].max()
valorbaratos=max-min
baratos=allstate[allstate["cost"]<valorbaratos]
baratos.describe()

,customer_ID,shopping_pt,record_type,day,location,group_size,homeowner,car_age,risk_factor,age_oldest,...,C_previous,duration_previous,A,B,C,D,E,F,G,cost
count,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,314720.000000,480239.000000,...,469035.000000,469035.00000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000,480239.000000
mean,10076622.987810,4.188312,0.149067,1.957007,12269.025221,1.237099,0.591054,8.789199,2.486648,46.883927,...,2.498462,6.41983,0.854135,0.432172,2.315081,2.470283,0.392915,1.130375,2.290691,614.359765
std,44041.854501,2.385083,0.356155,1.445064,1564.176124,0.453996,0.491640,5.946012,1.133696,17.253569,...,1.017445,4.77760,0.604806,0.495379,0.986714,0.747806,0.488399,0.936160,0.918449,31.886037
min,10000000.000000,1.000000,0.000000,0.000000,10001.000000,1.000000,0.000000,0.000000,1.000000,18.000000,...,1.000000,0.00000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,260.000000
25%,10038649.000000,2.000000,0.000000,1.000000,10936.000000,1.000000,0.000000,4.000000,1.000000,31.000000,...,2.000000,2.00000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,2.000000,595.000000
50%,10076409.000000,4.000000,0.000000,2.000000,12022.000000,1.000000,1.000000,8.000000,3.000000,47.000000,...,3.000000,5.00000,1.000000,0.000000,3.000000,3.000000,0.000000,1.000000,2.000000,619.000000
75%,10114706.000000,6.000000,0.000000,3.000000,13426.000000,1.000000,1.000000,12.000000,4.000000,62.000000,...,3.000000,9.00000,1.000000,1.000000,3.000000,3.000000,1.000000,2.000000,3.000000,639.000000
max,10152724.000000,13.000000,1.000000,6.000000,16580.000000,4.000000,1.000000,85.000000,4.000000,75.000000,...,4.000000,15.00000,2.000000,1.000000,4.000000,3.000000,1.000000,3.000000,4.000000,661.000000